<section>


    <div class="row ml-4">

        <div class="col-lg-3 col-md-6" style="display: inline-block;">


            <div class="card mt-5" style="width: 18rem;">
                <img class="card-img-top" src="../images/3D2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">hospital</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="/hospital" class="btn btn-success">Go somewhere</a>
                </div>
            </div>


        </div>




        <div class="col-lg-3 col-md-6" style="display: inline-block;">


            <div class="card mt-5" style="width: 18rem;">
                <img class="card-img-top" src="../images/3D2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">taxi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="/taxi" class="btn btn-success">Go somewhere</a>
                </div>
            </div>


        </div>







        <div class="col-lg-3 col-md-6" style="display: inline-block;">


            <div class="card mt-5" style="width: 18rem;">
                <img class="card-img-top" src="../images/3D2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ambulance</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="/ambulance" class="btn btn-success">Go somewhere</a>
                </div>
            </div>


        </div>





        <div class="col-lg-3 col-md-6" style="display: inline-block;">


            <div class="card mt-5" style="width: 18rem;">
                <img class="card-img-top" src="../images/3D2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">doctor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="/doctor" class="btn btn-success">Go somewhere</a>
                </div>
            </div>


        </div>

    </div>
</section>